@import url("//fonts.googleapis.com/css?family=Merienda:400,700");
@import url("//fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("//fonts.googleapis.com/css?family=Shadows+Into+Light+Two");

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: rgb(206, 207, 210);
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

h1 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
  font-size: 175%;
  letter-spacing: 3px;
  padding: 3% 0;
}

h2,
h3,
h4 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
}

p {
  padding: 2%;
  text-align: justify;
  letter-spacing: 1%;
}

.one-third img {
  text-align: center;
  max-width: 100%;
  height: 150px;
}

#wrapper {
  margin: 0 auto;
  background-color: white;
  overflow: auto;
}

header {
  width: 97%;
}

#logo {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  margin-left: 50px;
}

#logo a {
  text-decoration: none;
}

#logoText {
  color: rgb(20, 82, 140);
  font-size: 35px;
  float: left;
}

#callout {
  float: right;
  margin: 4% 3% 2% 0;
  height: auto;
  overflow: hidden;
  font-size: 15px;
}

#callout h2 {
  text-align: right;
  color: rgb(20, 82, 140);
}

#callout h2 a {
  color: rgb(20, 82, 140);
  text-decoration: none;
}

#callout p {
  text-align: center;
  padding: 0%;
}

#banner-wrapper {
  margin: 0 auto;
}

nav {
  box-shadow: 3px 4px 24px 0 rgba(0, 0, 0, 0.07);
  margin-top: 2px;
  background: #fcebb6;
  font-family: "Merienda", cursive;
}

.nav ul {
  width: 100%;
  overflow: hidden;
  list-style: none;
}

.nav-button:hover {
  cursor: pointer;
}

.navigation {
  clear: both;
  width: 100%;
  position: relative;
}

.nav a {
  color: #5e412f;
  text-transform: uppercase;
  text-decoration: none;
}

body .nav .nav-menu li a {
  display: inline-block;
  padding: 15px 20px;
  color: #5e412f;
  font-size: 18px;
  font-weight: 700;
}

.nav .nav-menu li.active a {
  color: #5e412f;
  text-decoration: underline;
  /* background: yellow; */
}

.nav .nav-menu li a:hover {
  color: #5e412f;
  text-decoration: underline;
}

.nav .nav-toggled {
  min-height: 36px;
  border-radius: 6px;
}

.nav .nav-toggled-controls {
  display: block;
  height: 36px;
  color: #5e412f;
  text-align: left;
  position: relative;
}

.nav .nav-toggled-title {
  position: relative;
  top: 9px;
  left: 15px;
  font-size: 16px;
}

.nav .nav-button {
  display: block;
  position: absolute;
  right: 15px;
  top: 8px;
}

.nav .nav-button span {
  display: block;
  margin-top: 4px;
  height: 2px;
  background: #5e412f;
  width: 24px;
}

.nav-toggled-controls {
  border-bottom: 0px solid #5e412f;
}

.nav .nav-toggled ul li a {
  display: block;
  width: 100%;
  background-color: #fcebb6;
  text-align: left;
  padding: 10px 0px 10px 15px;
  border-bottom: 1px solid #444444;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav .nav-toggled ul li a:active {
  background-color: #fcebb6;
  color: #5e412f;
  border-top: 1px solid #5e412f;
}

.nav .nav-toggled ul li a:hover {
  background: #fcebb6;
  text-decoration: none;
  color: #5e412f;
  border-bottom: 1px solid #f07818;
}

.nav .nav-toggled ul li {
  position: relative;
}

.toggle-sm:after {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  line-height: 25px;
}

.nav .nav-menu {
  text-align: center;
  overflow: visible;
  min-height: 56px;
}

.nav .nav-menu li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.nav-button:hover {
  cursor: pointer;
}

.nav .nav-toggled ul {
  display: none;
  margin: 0px;
  padding: 0px;
}

.nav ul {
  overflow: visible;
}

body .nav .nav-menu li a {
  padding: 15px 30px;
}

/*SLIDER IMAGE*/
.slider {
  box-shadow: 1% 2% 5% 0 rgba(0, 0, 0, 0.07);
}

.slider1 img {
  width: 100%;
  margin: 0 auto;
}

.one-third {
  width: 28%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
}

.one-third i {
  color: rgb(15, 131, 237);
  font-size: 500%;
  margin-bottom: 10%;
}

.clearfix {
  clear: both;
}

h2.welcome {
  margin-top: 2%;
  font-size: 40px;
}

.left-col {
  width: 60%;
  margin: 4% 0 4% 4%;
  float: left;
}

.sidebar {
  width: 26%;
  float: left;
  margin: 4%;
}

.sidebar img {
  max-width: 100%;
  height: 200px;
}

#about {
  text-align: center;
  font-size: 20px;
}

.one-third img {
  padding: 2% 0 6% 0;
}

.page-callout {
  width: 100%;
  min-height: 70px;
  margin: 1% auto;
  background-color: #fcebb6;
}

.callout-text {
  /* float: left; */
  /* width: 75%; */
  font-size: 22px;
  font-weight: bold;
  color: #5e412f;
  text-align: center;
}

.button-holder {
  float: right;
  width: 19%;
  padding: 1%;
}

.btn {
  float: left;
  border-radius: 8px;
  color: white;
  font-size: 22px;
  background: rgb(15, 131, 237);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: rgb(171, 187, 183);
  text-decoration: none;
}

footer {
  background-color: #fcebb6;
  opacity: 0.9;
  width: 100%;
  padding: 1% 0;
  overflow: auto;
}

footer h3 {
  text-decoration: underline;
  font-size: 25px;
}

.footercontact {
  text-align: center;
  margin-top: 3%;
  font-size: 17px;
}

.phone {
  color: rgb(15, 131, 237);
}

.social {
  list-style-type: none;
  margin: 3% 0;
  padding: 0;
  color: rgb(15, 131, 237);
}

.social li {
  display: inline;
}

.social i {
  font-size: 195%;
  padding: 3%;
}

.social i:hover {
  background: rgb(171, 187, 183);
}

.google-maps {
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin-top: 5%;
}

#copyright {
  text-align: center;
}

#contact {
  margin-top: 5%;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 90%;
  background: #fff;
  margin: 0 0 5px;
  padding: 2.5%;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 90px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 96%;
  border: none;
  background: rgb(15, 131, 237);
  color: #fff;
  margin: 0 0 5px;
  padding: 11px;
  font-size: 80%;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/*Media Queries*/
@media screen and (max-width: 740px) {
  #wrapper {
    margin-top: -1%;
  }
  #callout {
    width: 100%;
    margin: 3% 0 2% 0;
  }
  #callout p {
    display: none;
  }
  .slider .bx-wrapper .bx-controls {
    display: none;
  }
  .google-maps {
    margin: 2%;
  }
  .one-third {
    float: left;
    width: 100%;
    margin: 4% 0;
  }
  .one-third img {
    width: 50%;
  }
  .one-third i {
    font-size: 250%;
  }
  h1 {
    font-size: 125%;
    letter-spacing: 2px;
  }
  h2.welcome {
    font-size: 120%;
  }
  .left-col {
    width: 100%;
    margin: 0 0 3% 0;
  }
  .footercontact {
    margin-top: -35px;
  }
  .sidebar {
    width: 50%;
    margin: 0;
  }
  .sidebar img {
    display: none;
  }
  .slider img {
    opacity: 0.9;
  }
  .page-callout {
    width: 90%;
    min-height: 160px;
  }
  .callout-text {
    width: 95%;
    font-size: 19px;
    text-align: center;
  }
  .button-holder {
    float: none;
    width: 100%;
    padding: 1%;
    margin-left: 28%;
  }
  .social i {
    font-size: 175%;
  }
}
